<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<main layout:fragment="content" class="container py-5" style="max-width: 400px;">
  <h2 class="mb-4 text-center">로그인</h2>
  <form th:action="@{/login}" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="username" class="form-label">아이디</label>
      <input type="text" name="username" id="username" class="form-control" required/>
      <div class="invalid-feedback">아이디를 입력하세요.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">비밀번호</label>
      <input type="password" name="password" id="password" class="form-control" required/>
      <div class="invalid-feedback">비밀번호를 입력하세요.</div>
    </div>
    <button type="submit" class="btn btn-primary w-100">로그인</button>
    <div class="text-center mt-3">
      <a th:href="@{/oauth2/authorization/naver}">
        <img th:src="@{/images/btnG.png}" alt="네이버 로그인" class="w-50">
      </a>
<!--      <a th:href="@{/oauth2/authorization/kakao}" class="btn btn-warning w-100">카카오 로그인</a>-->
    </div>

  </form>
  <p th:if="${loginError}" th:text="${loginError}" class="text-danger mt-3 text-center"></p>
  <div class="text-center mt-3">
    <a th:href="@{/signup}">회원가입</a>
  </div>
</main>
</html>
